

.movieImageAlita {
    background-image: url("../assets/MoviePictures/Alita.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageBourne {
    background-image: url("../assets/MoviePictures/BourneIdentität.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageBourne2 {
    background-image: url("../assets/MoviePictures/BourneVerschwörung.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageBourne3 {
    background-image: url("../assets/MoviePictures/BourneUltimatum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageCatchMe {
    background-image: url("../assets/MoviePictures/catchmeifyoucan.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageConstantine {
    background-image: url("../assets/MoviePictures/Constantine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageDarkCity {
    background-image: url("../assets/MoviePictures/darkCity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageEdgeOfTomorrow {
    background-image: url("../assets/MoviePictures/EdgeofTomorrow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageFightClub {
    background-image: url("../assets/MoviePictures/FightClub.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageIAmMother {
    background-image: url("../assets/MoviePictures/IamMother.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageIRobot {
    background-image: url("../assets/MoviePictures/iRobot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageJumanji {
    background-image: url("../assets/MoviePictures/Jumanji.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageLeonDerProfi {
    background-image: url("../assets/MoviePictures/leon.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageMatrix {
    background-image: url("../assets/MoviePictures/Matrix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageMatrixReloaded {
    background-image: url("../assets/MoviePictures/MatrixReloaded.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageMatrixRevolutions {
    background-image: url("../assets/MoviePictures/MatrixRevolutions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageOblivion {
    background-image: url("../assets/MoviePictures/Oblivion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}


.movieImageOceans11 {
    background-image: url("../assets/MoviePictures/Oceans11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}


.movieImageOceans12 {
    background-image: url("../assets/MoviePictures/Oceans12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageScottPilgrim {
    background-image: url("../assets/MoviePictures/ScottPilgrim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageStarGate {
    background-image: url("../assets/MoviePictures/StarGate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageTerrabitia {
    background-image: url("../assets/MoviePictures/Terrabitia.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}

.movieImageVwieVendetta {
    background-image: url("../assets/MoviePictures/VwieVendetta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 100%;

    margin-right: auto;
}